# будет игнорироваться каталог tmp
/tmp

# будет игнорироваться файлы заканчивающиеся на _old
*_old 

# будет игнорироваться файлы заканчивающиеся на _backup
*_backup

#игнорирование файла Thumbs.db и .DS_Store
Thumbs.db
.DS_Store